target/
build
out
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

/src/test/resources/serenity.conf
/src/test/java/common/DBHelper.java
/reports/*.csv
/reports/*.html
/reports/*.properties
/reports/*.json
/reports/*.txt
/reports/*.png
/reports/*.xml